apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  namespace: my-app
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              key: db_root_pwd
              name: db-secret
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              key: db_name
              name: db-secret
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              key: db_user
              name: db-secret
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              key: db_pwd
              name: db-secret
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pvc
--- 
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: my-app
spec:
  selector:
    app: mysql
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306